<h3>My Bookstore</h3>
<table>
    <tr>
        {{#each letterArray}}
        <td><a href="/list?q={{this}}">{{this}}</a></td>
        {{/each}}
    </tr>
    <tr>
        {{#each numberArray}}
        <td><a href="/list?q={{this}}">{{this}}</a></td>
        {{/each}}
    </tr>
</table>