<div class="row ml-3">
    <div class="col-6">
        <h3 class="display-3 text-primary font-weight-bold mt-5">My Bookstore</h3>
        <p class="lead font-italic">Search for book details and reviews.</p>
        <hr>

        <h4>Sorry! No book starts with letter <span class="font-italic text-primary">{{letter}}</span></h4>

        <a href="/" class="btn btn-primary btn-sm mt-3" role="button"><i class="fas fa-home mx-1"></i>Home</a>

    </div>
</div>
